extends base
block style
  link(rel='stylesheet' href="/static/index.css")
  style.
    .link {
      text-overflow: ellipsis;
      cursor: pointer !important;
      max-width: 130px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
    }

block body
  #mountNode

block script
  script(type='text/javascript').
    window.FILES = !{JSON.stringify(files)}
  script(src="/static/index.js")
